﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RichMan/Client/WebLayout.Master" AutoEventWireup="true" CodeBehind="RichMan004.aspx.cs" Inherits="WEB.RichMan.Client.RichMan004" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu a:eq(2)").addClass("on");
        })
    </script>
    <div class="wrap">
        <div class="title">
            <a href="download/大富翁專論.doc" target="_blank" title="連結到_大富翁專論文件">下載專論</a>
            <br />
            <span style="color: Red">本篇文章刊載於水與土通訊第75期2008/03 </span>
            <dl style="color: blue">
                <%--20140701 cheung 力行要求修正  <dt>專論作者：</dt>
                <dd>林柏壽 行政院農業委員會水土保持局</dd>
                <dd>賴玉真 逢甲大學地理資訊中心</dd>
                <dd>陳振宇 行政院農業委員會水土保持局</dd>--%>
            </dl>
            <br />
            <br />
        </div>
        <div class="content">
            <h1>
                <%--20140701 cheung 力行要求修正     專論 土石流防災宣導新利器－土石流防災大富翁--%>
                土石流防災大富翁遊戲介紹
            </h1>
            <ul>
                <li><span class="title">一、緣起 </span>
                    <br />
                    <span class="content">台灣地狹人稠，天災不斷，每逢災害發生，幾乎造成不少之傷亡，水土保持局為了防減災，除了構築硬體工程外，更積極走入社區學校宣導防災觀念，期使土石流防災觀念得以向下扎根，以達防減災之目的。過去民眾獲取土石流防災知識，不外乎透過學校教師，設計比賽、媒體影片等管道，但因為課程教條化、傳授時間有限化、資訊偏重成人化,造成知識傳達成效無法彰顯。因此，有必要針對這些問題提出一套解套之方法，得以使土石流防災教育深耕小學生心境。水土保持局基於上述理由，積極推動各式宣導之課程，將土石流防災知識與大富翁、遊戲王卡等益智遊戲結合，設計出「土石流防災大富翁」遊戲，讓玩家在闖關過程中，可以寓教於樂，同時學會了土石流防災知識。 </span></li>
                <li><span class="title">二、土石流防災大富翁設計構想 </span>
                    <br />
                    <span class="content">為了使土石流防災教育達到「從小做起 潛移默化」、「提昇興趣 自主學習」的境界，水土保持局從大富翁這個歷久不衰的益智遊戲出發，利用玩家對遊戲著迷的情形，以大富翁遊戲為藍本，融入防災知識並加入現行玩家最熱門之遊戲王卡理念，設計出「土石流防災大富翁」遊戲。本遊戲主要設計可以區分為底圖及遊戲卡兩大部分，在精心設計下，底圖及遊戲卡皆富含土石流防災知識，深具教育之理念。 在底圖部分，本遊戲傳達三個重要之訊息： </span>
                    <dl class="titleStyle">
                        <dt>1. 圖像：</dt>
                        <dd>
                            首先為了彰顯本遊戲之宗旨，於底圖中央設計呈現出「土石流防災專員，立足台灣，舉起雙手，向土石流說「不」(骰子點數呈現2(two)46三面之用意，取其諧音代表土石流)。</dd>
                        <dt>2. 土石流避難處所：</dt>
                        <dd>
                            當發布土石流預報時，民眾應儘速疏散至土石流避難處所避難，所以在遊戲規則中，3處避難處所同時代表著「安全」之用意。</dd>
                        <dt>3. 17縣市：</dt>
                        <dd>
                            目前水土保持局公布全台共有1,671條土石流潛勢溪流，位於17縣市，所以本遊戲僅有公告之土石流潛勢溪流縣市，才會出現在底圖。 在遊戲卡部分，本遊戲設計出狀況卡、防禦卡及特殊卡三種卡片，主要是藉由模擬情境區（狀況卡）與因應對策區（防禦卡）來闡述碰到土石流相關情境問題時，因應對策為何。</dd>
                    </dl>
                    <span>透過底圖及遊戲卡的設計內涵，使玩家可以在遊戲中，潛移默化瞭解到台灣的土石流概況， 並進一步學習到在面對土石流災害時，該如何處置，使土石流死亡趨近於零，乃為本遊戲之主要宗旨。</span> </li>
                <li><span class="title">三、土石流防災大富翁遊戲說明 </span>
                    <br />
                    <dl class="titleStyle2">
                        <dt style="padding-top: 0">（一）底圖及遊戲卡</dt>
                        <dd>
                            1.遊戲底圖：標示各縣市土地、土石流避難處所、指定PK區及卡片抽取區。</dd>
                        <dd>
                            2.遊戲卡：包含狀況卡、防禦卡及特殊卡共70張，採遊戲卡上的點數決勝負，狀況卡攻擊方使用，而防禦卡則是防禦方使用。</dd>
                        <dd>
                            3.土地所有權狀：共17個縣市土地所有權狀，以地價購買土地，路過他人土地，需付過路費；若無現金可將土地抵押銀行，取得現金。</dd>
                        <dd>
                            4.現金：包含千元現金70張，伍佰元現金 20張，佰元現金50張，可支付點數之用。</dd>
                        <dt>（二）大富翁擲骰子購地</dt>
                        <dd>
                            1.起始：遊戲一開始每人發6,000點，土石流遊戲卡8張。</dd>
                        <dd>
                            2.購買土地：當走到無人擁有的土地時，可以決定是否購買該土地，買土地的錢交給銀行後，取得該土地所有權狀。</dd>
                        <dd>
                            3.過路費：玩家走到已被購買的土地時，須繳交過路費給土地所有權人。</dd>
                        <dt>（三）過路攻防PK戰</dt>
                        <dd>
                            1.當玩家走到已被購買的土地而不想繳交路費時，可使用手中卡片與土地所有權人進行PK。攻擊方(過路者)使用狀況卡，而防禦方(土地所有權人)使用防禦卡。</dd>
                        <dd>
                            2.攻擊方勝：攻擊方可免付過路費，防禦方亦不需付點數差額給銀行。</dd>
                        <dd>
                            3.防禦方勝：攻擊方需要付防禦方點數的差額，並加上過路費。</dd>
                        <dd>
                            4.平手：當攻擊方與防禦方點數相同時，攻擊方可免付過路費，防禦方亦不需付點數差額給銀行。</dd>
                        <dt>（四）指定攻防PK戰</dt>
                        <dd>
                            1.玩家走到PK點，可指定一人進行PK，或選擇休息不PK。</dd>
                        <dd>
                            2.選擇PK者出狀況卡，被攻擊者出防禦卡。</dd>
                        <dd>
                            3.輸方給贏方PK卡片點數的差額。</dd>
                        <dt>（五）結算成績</dt>
                        <dd>
                            1.結算點數：點數計算以現金點數及地價點數總合，最高者為勝利。</dd>
                        <dd>
                            2.定額賽：點數先集滿30,000點者即勝。</dd>
                        <dd>
                            3.時間賽：約定遊戲時間，時間結束比較手中點數。</dd>
                    </dl>
                </li>
                <li><span class="title">五、土石流防災大富翁推廣情形 </span>
                    <br />
                    <span class="content">土石流防災大富翁於民國95年9月於國立自然科學博物館舉辦之「現代科學與環境教育創意教學」研習活動首次亮相，參與者反應熱烈，佳評如潮，現場申請索取紙盒版之人數相當踴躍。後續為促使土石流防災教育向下扎根，陸續辦理教師研習營培育種子教師，推動逢甲大學、西屯國小、何厝國小等舉辦土石流防災大富翁競賽，防災宣導獲得廣大迴響，並經由多位老師及參與者的意見分享，進而研修出更具人性化、知識性、趣味性的土石流防災大富翁第二版。為了擴展土石流防災大富翁的教學通路，於水土保持局土石流防災資訊網刊登學校免費索取之訊息，並於網站上提供一意見分享區，供老師們分享教學心得，以利經驗交流及後續土石流防災大富翁改進之參考。 </span></li>
                <%--20140701 cheung 力行要求修正  <li><span class="title">六、未來展望及結語 </span>
                    <br />
                    <span class="content">水土保持局為了吸引民眾主動學習土石流防災知識，強化全民防災意識，進一步認知土石流是一種自然現象，雖不可免除，但完備的防災準備工作是降低土石流災害的不二法門。藉由土石流防災大富翁活動大力推廣，從95年9月後，陸續在校園進行防災宣導活動，也有近23所教育單位主動索取土石流防災大富翁盒裝版；透過熱忱教師不遺餘力推廣，除了引發學生學習興趣，也藉由自然教師研習機會，散播防災教學種子，從北到南教師們舉辦防災教學觀摩。根據教育部統計資料，台灣有2,640所小學，共有1,827,321名學生，每個學生若能影響4－5名親友土石流防災概念，防災宣導如雪球般擴張漫延…將可影響9百萬人，而土石流防災大富翁正希望透過這股滾雪球力量，以趣味遊戲誘發學習動力，將土石流防災觀念，深植每人心中，以實際行動減低災害發生，展現對生命的關懷與希望。 </span></li>--%>
            </ul>
        </div>
    </div>
    <!-- wrap -->
</asp:Content>
