﻿html , body , h1, h2, h3, h4, h5, h6, p, #menu ul, #menu li { margin: 0; padding: 0; }

body
{
    background-position: #747477 url(images/h1-bg.png) no-repeat fixed;
    /*background: #747477 url(images/h1-bg.png) no-repeat fixed;*/
    overflow-x: hidden;
    font-size: 63%;
    font-family: Microsoft JhengHei, Arial;
    vertical-align: 0.025em;
    background-color:#666

}

.container
{
    background-image: url('images/bg.jpg');
    background-repeat: repeat-y;
    background-color:white
}

#dyhead {
 margin-bottom: 5px;
}
#dyleft {
 width: 304px;
 float: left;
 background-color:#89ba2a;
 height:100%;
}
#dyright {
 margin-left: 304px;
}
#dyfoot {
 margin-top: 5px;
 clear: both;
}

.wrapper {  float:left;background-color:#fff; width:100%}

#header {
	height: 71px;
	background: url(images/header-bg.png) repeat-x;	
	}
#header .header-left {
	display: block;
	width: 9px;
	height: 71px;
	float: left;
	background: url(images/header-left.png) no-repeat;	
	}
#menu { margin-left: 9px; padding-top: 16px}

#menu ul { min-height: 48px; background-color:#fff; display:block;   }

#menu ul li { float: left; margin: 20px 1em 0; list-style: none; font-size:1.5em }

#menu ul li a { padding: 5px 10px; border: 1px solid #f2ebd6; font-weight: bold; text-decoration: none; color: #C93; }

#menu ul li a:hover { border: 1px solid #dfb387;  }

#menu ul li a:active { border: 1px solid #dfb387; background: #dfb387; color: #FFF; }

#menu ul li a.on { border: 1px solid #dfb387; color: #fff; background: #dfb387; }

#content { background: #FFF url(images/shadow.png) repeat-x; }

#footer { padding:8px; background: #666; color: #FFF; font-size:1.2em; }

#footer a { color: #FF6; }

#footer p{ line-height:1.8em; letter-spacing:0.025em; padding:4px}

/*----------------------------------*/

.wrap { padding: 15px 20px; font-size:1.4em}

.wrap ul , .wrap li { margin: 0; padding: 0; list-style: none; }

.wrap li { padding: 8px 0; border-bottom: 1px dashed #C93; line-height:1.5em;  } 

.wrap li strong { color: #C33; }

.btnBlock { padding: 10px 0; }

textarea { width: 20em; }

table input[type=text] { width: 15em; }

.content

{ padding: 15px 20px;
  
    }
    
.content img{ margin:0 10px}
.content img.none{ margin:0}
    
.content h1
{
    font-size:1.6em;
    background:#f0eb67;
    padding:2px 4px;
    color:#955e06;
    margin-bottom:5px;
    }

.content h2
{
    font-size:1.5em;
    padding:10px 0 5px 0;
    }   
    
.content h3
{
    font-size:1em;
    background:url(images/icon.png) no-repeat;
    padding-left:25px;
    margin:10px 0;
    color:#bc1276;
    }

.content p
{
    font-size:1.4em;
    padding:5px 0;
    }
    
.content2 p
{
    font-size:0.9em}
    
.content2 p span{ color:#254d9e; font-weight:bold}
.content ol
{
    font-size:1.4em;
    list-style:disc;
    margin:0 50px 0 24px;
    padding:0 15px 0 30px;
   

    }
.content ol li
{
    list-style:decimal;
    margin-left:10px;
    border:none;
    margin:0;
    padding:0;
    padding-bottom:2px;
    }
    
    
.TableView th, .TableView td
{
    padding:5px
    }
    
.TableView Caption
{
    line-height:30px
    }
 
dl dt{}
    
 dl dd
 {
     margin-left:20px;
     }
     
dl.titleStyle
 {
     margin:20px 10px;
     background-color:#fbe9f3;
     padding:10px;
     }
     
 dl.titleStyle dt
{
    padding: 5px;
    font-weight: bold;
}

 dl.titleStyle dd
 {
     font-size:0.9em;
     line-height:1.6em;
     }
     
  dl.titleStyle2 dt
{
    font-weight: bold;
    color: #3366FF;
    padding-top:5px;
}

ul.download{ list-style:none; margin:10px 20px; padding:0; }
ul.download li{ border:0; margin:0; padding:0; padding-bottom:4px}
ul.download li span{ display:inline-block; padding: 1px 4px; border:1px solid #ccc; background-color:#5b3d7e; }
ul.download li span a, ul.download li span a:visited{ padding:0;color:White; text-decoration:none}
ul.download li span a:hover{ color:#ffff66;}
.tableImg img{ margin:0}
.tableImg{}

.tableImg2 td{ padding:5px; }
.tableImg2 td img{ border:1px solid #ccc}

span.title{
     font-size:1.4em;
      color: Purple;
       font-weight:bold;
       line-height:2em;
    }
    
    
 p.indent, .indent{ padding-left:15px;}