﻿*{ border:0;}

body
{
    margin:0;
    padding:0;
    font-family: Microsoft JhengHei, Arial;

}

input, select, textarea   {
	font-family: Microsoft JhengHei, Arial;
	font-size:12px;
	border:solid 1px #999999
}
input[type=radio]{ border:none;} 

#content
{
    margin:0 30px;
    font-size:14px;
    }

.TopBanner{}

.TopBanner .Title{ width:343px; float:left;}
.TopBanner .Nav{ margin-left:343px; background:url(images/banner.gif) repeat-x ; height:92px;}

a.titleMenu:link, a.titleMenu:visited
{
    font-size:15px;
    line-height:76px;
    color:Black;
    text-decoration:none;
    padding:2px 0;
    margin:0 8px;
        }

a.titleMenu:hover
{
    color: #7a7a30;

}

#menu a.on
{
    color: #7a7a30;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #808000;
    font-weight: bold;
}

.TxtStyle
{
    font-size:14px;
    }
    
.TxtStyle span
{
    color: #993300;
     padding-right:10px;
}

.TxtStyle2
{
    margin-bottom:5px;
    }
    
.TxtStyle2 select { margin-left:4px}

li
{
    line-height: 22px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: #808000;
    padding-bottom:10px;
}
    
 .btnBlock
 {
     margin-left:40px;
     cursor:pointer;
     }
     
 #footer { margin-top:15px; padding:4px; background: #666; color: #FFF; font-size:12px; }


#footer a { color: #FF6; }

#footer p{ line-height:1.8em; letter-spacing:0.025em; padding:0px}