﻿<%@ Page Language="C#" MasterPageFile="~/RichMan/Server/WebLayout.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="WEB.RichMan.Server.Login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="content" style="text-align:center">
        帳號:<asp:TextBox ID="txtAccount" runat="server"></asp:TextBox><br/><br/>
        密碼:<asp:TextBox ID="txtPassword" TextMode="Password" runat="server"></asp:TextBox><br /><br />
        <asp:Button runat="server" ID="btnLoginOK" Text="登入" onclick="btnLoginOK_Click" />
    </div>
</asp:Content>


