﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WEB._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<style type="text/css">
    #side { width: 200px; float: left;  }   /*選單,  靠左邊, 寬度比如200px*/
    #content { margin-left: 200px; }       /*內容, 左邊空出 200px*/
</style>    
</head>
<body>
    <form id="form1" runat="server">
    
    <div id="side">
    <a target="content" href="bear/Client/bear_online.aspx">前端展示頁</a><br/>
    <a target="content" href="bear/Server/bearOrderList.aspx">後端小熊種樹資料維護頁面</a><br/>
    <a target="content" href="bear/Server/bearOrderInCome.aspx">後端小熊種樹份數匯入頁面</a><br/>
    <a target="content" href="bear/Server/bearOrderListAdd.aspx">後端小熊種樹份數申請頁面</a><br/>
    <a target="content" href="portal/login.aspx">後端登入頁</a><br/>
    </div>
    <div id="content"></div>
        
    <div>
    
    </div>
    </form>
</body>
</html>
